* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: gray;
}

.nav-bar {
    display: flex;
    gap: 20px;
    padding: 5px;
    background-color: white;
    z-index: 100;
    position: sticky;
    top: 0;
}

.logo-img {
    margin-left: 7%;
}

.search {
    display: flex;
    width: 600px;
}

.search-img {
    padding: 10px;
    background-color: rgb(231, 227, 227);
    border-radius: 10px 0 0 10px;
}

input {
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(231, 227, 227);
    font-size: 20px;
    padding-left: 10px;
    border-radius: 0 10px 10px 0;
    height: 50px;
}

.user {
    display: flex;
    padding: 10px;
    align-items: center;

}

.user a {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

.user span {
    font-size: 20px;
}

.cart {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

.cart span {
    font-size: 20px;
}

.store {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

.store span {
    font-size: 20px;
}

.dot {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.Fashion {
    display: flex;
    align-items: center;
}

.electronics {
    display: flex;
    align-items: center;
}

.home-furniture {
    display: flex;
    align-items: center;
}

.toys {
    display: flex;
    align-items: center;
}

.gari {
    display: flex;
    align-items: center;
}

.slider-content {
    display: flex;
    overflow-y: hidden;
    width: 100%;
}

.slider-content img {
    width: 100%;
}

.below-slider-category {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

h3 {
    font-size: xx-large;
}

.headthree {
    margin-left: 0;
    background-color: white;
    padding: 15px;

}

.category-content {
    display: flex;
    font-size: x-large;
    align-items: center;
    gap: 48px;

}

.category-content span {
    font-size: large;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: inherit;
}

.mix {
    background-color: white;
    margin: 15px;
    padding: 15px;
}

.mix-content {
    display: flex;
    overflow-y: auto;
    gap: 80px;
}

.box {
    display: flex;
    margin: 10px;
    gap: 15px;
    max-width: 100%;

}

.box-background {
    background-color: white;
    padding: 10px;

}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    justify-content: center;
    gap: 15px;
}

.container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    align-items: center;


}

.container img {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.box h6 {
    color: green;
}

.box-lim img {
    width: 600px;
    height: 530px;
}

.ending span {
    font-style: normal;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.ending {
    background-color: white;
    color: rgb(116, 113, 113);
}

.footer {
    background-color: black;
    color: white;
    max-width: 100%;
}

.footer-background {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    padding: 15px;
    gap: 10px;
    font-size: medium;

}

.footer-group {
    display: flex;
    gap: 50px;
}

.footer span {
    color: gray;
}

.below-footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 100%;
}

marquee {
    background-color: lightblue;
    color: red;
    font-family: cursive
}